body {
  font-family: "San Francisco", sans-serif;
}
.company_name{
    color: white;
    padding-left: 32px;
    margin-top: 15px;
    margin-bottom: 200px;
    font-size: large;
}

.menubtn {
  display: block;
  margin-top: 320px;
  margin-left: 10px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: large;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  background-color: white; /* Black */
  border-right: 1px solid rgb(207, 207, 207);
  transition: 0.3s;
  overflow-x: hidden; /* Disable horizontal scroll */    
}

.logo {
  position: absolute;
  top: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 25px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

